body {
    background-color: #1D4221;
    font-size: 25px;
    color: white;
     border: 3px solid green;
    font-family: "preconnect", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0; 
    border: 3px solid green;
}


button {
    background-color: #64A712;
    color: white;
    font-family: "preconnect", "Merriweather";
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}